html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ecf1f3;
    user-select: none;
}

/* Layout */

header, .container, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header {
    max-width: 320px;
    padding: 20px 0;
}

.container {
    flex-direction: column;
    max-width: 320px;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
}

/* Images */

.logo-img {
    width: 100px;
}

/* Logo */

.logo {
    color: #333;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 200;
    margin: 0 0 0 5px;
}

.bold {
    font-size: 60px;
    font-weight: 800;
    display: block;
    margin-top: -25px;
}

/* Input */

.input-wrapper {
    display: flex;
    justify-content: space-between;
}

input {
    display: inline-block;
    width: 100%;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 4px;
    padding: 10px 0;
    text-align: center;
    outline: none;
}

::placeholder {
    font-weight: 400;
    color: #aaa;
}

/* Buttons */

.add-btn {
    display: inline-block;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px 19px;
    text-align: center;
    outline: none;
}

.add-btn:hover {
    background-color: #555;
    cursor: pointer;
}

.add-btn:active {
    border: 2px solid #ecf1f3;
    padding: 8px 17px;
}

.favorites-btn {
    font-size: 40px;
    margin-bottom: 5px;
    padding: 15px 16px;
    color: #333;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
}

.favorites-btn:hover,
.favorites-btn:focus {
    color: #ffc400;
    cursor: pointer;
}

/* Lists */

ul {
    padding: 0;
    margin-top: 10px;
    float: left;
    list-style-type: none;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

ul li {
    color: #99734a;
    font-size: 20px;
    font-weight: 600;
    padding: 12px;
    background-color: #ffeead;
    box-shadow: 2px 2px 0 rgba(155, 141, 141, 0.2);
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
}

ul li:hover {
    border: 2px solid #333;
    padding: 10px;
    cursor: pointer;
}

a {
    margin-top: 30px;
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

/* Utility */

.inactive {
    padding: 10px;
    color: #aaa;
    background-color: #ecf1f3;
    border: 2px solid #aaa;
}